---
import ComingSoon from "../components/ComingSoon";
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>Piano Ai | AI-powered Piano Education App</title>
  </head>
  <body>
    <ComingSoon client:only="react" />
  </body>
</html>
